.cloudzoom-lens{border:5px solid #888;width:200px !important;height:200px !important;box-shadow:-0px -0px 10px rgba(0,0,0,0.40);cursor:crosshair;z-index:9999;}
.cloudzoom-zoom{border:1px solid #888;width:600px;height:200px;box-shadow:-0px -0px 10px rgba(0,0,0,0.40);z-index:9999;background: #fff}
.cloudzoom-zoom-inside{border:none;box-shadow:none;z-index:9999;}
.cloudzoom-caption{display:none;text-align:left;background-color:#000;color:#fff;font-weight:bold;padding:10px;font-family:sans-serif;font-size:11px;}
.cloudzoom-blank{background-image:url(blank.png);}
.cloudzoom-ajax-loader{background-image:url(ajax-loader.gif);width:32px;height:32px;}