@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v42/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.fr-line {
	margin-bottom: 25px;
}

.fr-line .label {
	font-size: 14px;
	font-weight: 600;
	color: #191919;
    margin-bottom: 8px;
    padding: 0px;
}

.fr-line .label.up {
	text-transform: uppercase;
}

.fr-line .input {
	width: 100%;
	height: 42px;
	border-radius: 5px;
	border: solid 1px #a1a7b3;
	color: #171717;
	padding-top: 3px;
}

.fr-line textarea.input {
    padding: 8px 12px 5px 12px;
	height: 120px;
}

.fr-line .i-select:after {
	font-size: 22px;
	color: #888888;
	position: absolute;
	top: 0;
	bottom: 0;
	line-height: 42px;
	right: 10px;
	pointer-events: none;
}

.fr-line .butn {
	height: 54px;
	width: 160px;
	padding-top: 2px;
	font-weight: bold;
	font-size: 16px;
	border-radius: 50px;
}

.fr-line .butn.submit {
	color: #fff;
}

.fr-line .butn:hover {
	color: #fff;
}

.fr-line .tag-form {
	margin-top: 15px;
}

.tag-form .tag-result {
	margin-bottom: 5px;
	display: inline-block;
	margin-right: 20px;
}

.tag-form .form {
	position: relative;
	padding-right: 110px;
}

.tag-form .form input {
	width: 100%;
	height: 42px;
	border: solid 1px #a1a7b3;
	padding-left: 30px;
}

.tag-form .form:before {
	content: '';
	width: 5px;
	height: 5px;
	background: #171717;
	position: absolute;
	left: 15px;
	bottom: 20px;
	margin-top: -2px;
}

.tag-form .form .button {
	height: 42px;
    background-color: #f39c12;
    border-color: #e08e0b;
	color: #fff;
	border-radius: 5px;
	width: 100px;
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 14px;
	font-weight: bold;
}
.tag-form .form .nav-tabs{
	border-bottom: 0;
}
.tag-form .form .nav-tabs>li>a{
	padding: 4px 15px;
}
.tag-form .form .nav-tabs>li.active>a{
	border: 1px solid #a1a7b3;
	border-bottom: 0;
}
.like-form {
	padding-right: 110px;
}

.fr-note {
	color: #555555;
	font-size: 14px;
	line-height: 24px;
}

.fr-radio {
	display: inline-block;
	margin-right: 30px;
	cursor: pointer;
    color: #191919;
    font-weight: 100;
}

.fr-radio input {
	display: none;
}

.fr-radio input:checked + i:after {
	opacity: 1;
}

.fr-radio i {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: solid 1px #959a9b;
    margin-top: -4px;
    margin-right: 5px;
}

.fr-radio i:after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #f73d14;
    display: block;
    margin: 3px;
    opacity: 0;
}

.file-form {
	position: relative;
	/*padding-right: 160px;*/
}

.file-form .butn {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	/*width: 150px;*/
	height: 32px;
	background: #fabe06;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	text-transform: capitalize;
	cursor: pointer;
}

.file-form .butn input {
	display: none;
}

.fr-line .img-result {
	display: block;
	margin: 20px auto;
}

.hc-editor .mce-menubar, .les-editor .mce-menubar {
	border: none;
}

.hc-editor .mce-panel, .les-editor .mce-panel {
	background: none;
	border: none;
}

.hc-editor .mce-btn-group, .les-editor .mce-btn-group {
	border-left: none !important;
}

.hc-editor .mce-btn-group .mce-btn, .les-editor .mce-btn-group .mce-btn {
	margin-right: -1px;
	margin-left: 0px;
}

.hc-editor .mce-btn, .les-editor .mce-btn {
	padding: 5px 3px;
	margin: 0;
	border: solid 1px #dddddd;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	background: #f4f4f4;
}

.hc-editor .mce-btn:last-child, .les-editor .mce-btn:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.hc-editor .mce-flow-layout-item, .les-editor .mce-flow-layout-item {
	margin: 0;
}

.hc-editor .mce-edit-area, .les-editor .mce-edit-area {
	margin-top: 10px;
}

.hc-editor .mce-edit-area iframe, .les-editor .mce-edit-area iframe {
	border: solid 1px #dddddd;
}

.hc-editor .mce-statusbar, .les-editor .mce-statusbar {
	display: none;
}

.hc-editor .mce-branding-powered-by, .les-editor .mce-branding-powered-by {
	display: none;
}

.hc-editor .mce-btn-group:not(:first-child), .les-editor .mce-btn-group:not(:first-child) {
	margin-left: 0;
	padding-left: 0;
}

.hc-editor .mce-btn-group, .les-editor .mce-btn-group {
	margin-right: 5px;
	margin-bottom: 4px;
}

.hc-editor .mce-toolbar-grp .mce-flow-layout-item, .les-editor .mce-toolbar-grp .mce-flow-layout-item {
	margin-bottom: 4px;
}

.course-head {
	margin-bottom: 10px;
}

.course-head .title {
	font-size: 26px;
	color: #171717;
	font-weight: 600;
}

.course-head .ctrl {
	height: 50px;
	border-radius: 6px;
	line-height: 52px;
	font-size: 16px;
	font-weight: bold;
	padding: 0 23px;
}

.course-head .ctrl i {
	font-weight: normal;
	font-size: 200%;
	margin-right: 8px;
	margin-top: -2px;
}

.course-head .ctrl.add {
	color: #fff;
	background: #fabe06;
}

.course-head .ctrl.del {
	color: rgba(23, 23, 23, 0.65);
	background: #e2e7e7;
}

.course-head .ctrl:hover {
	color: #fff;
}

.new-course .input {
	width: 49%;
	height: 42px;
	border: solid 1px #a1a7b3;
    border-radius: 5px;
    padding-left: 12px;
    padding-right: 12px;
}

.new-course .button {
	background: #fabe06;
	color: #fff;
	font-size: 14px;
	border-radius: 5px;
	font-weight: bold;
	padding: 4px 10px;
}

.new-course .button:hover {
	color: #fff;
}

.new-course .option {
	margin-bottom: 20px;
}

.new-course .option .head {
	background: #9fa6a7;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	padding: 10px 15px 8px 15px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.new-course .option .head i {
	font-style: normal;
}

.new-course .option .head span {
	text-transform: uppercase;
}

.new-course .option .ct {
	padding: 0 30px;
}

.new-course .add-option {
    background: #9fa6a7;
    color: #fff;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 15px 6px 15px;
}

.new-course .add-option i {
    font-size: 200%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
}

.new-course .fr-option {
	position: relative;
	margin: 10px 0;
	padding-right: 150px;
}

.new-course .fr-option .button {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	font-size: 14px;
}

.new-course .add-lession {
	background: #fabe06;
	color: #fff;
	display: block;
	width: 100%;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 15px 6px 15px;
}

.new-course .add-lession i {
	font-size: 200%;
	margin-right: 7px;
	vertical-align: middle;
}

.new-course .fr-lession {
	margin-bottom: 10px;
	position: relative;
	padding: 12px 20px 12px 66px;
	background: #fff;
	box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.2);
}

.new-course .fr-lession .num {
	position: absolute;
	margin-top: 9px;
	left: 22px;
	font-size: 16px;
	color: #171717;
}

.new-course .fr-lession .input {
	margin-bottom: 10px;
}

.new-course .fr-lession .fr-close:hover {
	text-decoration: underline;
}

.new-course .lession {
    margin-bottom: 10px;
    font-size: 14pt;
}

.new-course .lession .les-head {
	background: #e2e7e7;
	font-size: 16px;
	color: #171717;
	padding: 8px 150px 8px 22px;
	position: relative;
}

.new-course .lession .title {
    margin: 0px;
    font-size: 14pt;
}

.new-course .lession .les-head i {
	font-style: normal;
}

.new-course .lession .les-head .button {
	position: absolute;
	right: 15px;
	top: 4px;
	display: none;
}

.new-course .les-box {
	margin: 0 20px;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
	position: relative;
	padding: 20px 20px 10px 20px;
}

.new-course .les-box .bx-close {
	position: absolute;
	background: #fff;
	right: 0;
	bottom: 100%;
	font-size: 14px;
	font-weight: 600;
	color: #171717;
	padding: 7px 10px;
	border: 0;
}

.new-course .les-box .bx-close i {
	margin-left: 5px;
}

.new-course .les-box .les-editor {
	margin-bottom: 15px;
}

.new-course .les-type {
	margin: 0 20px;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
	position: relative;
	padding: 20px 20px 10px 6px;
}

.new-course .les-type .type-close {
	position: absolute;
	background: #fff;
	right: 0;
	bottom: 100%;
	font-size: 14px;
	font-weight: 600;
	color: #171717;
	padding: 7px 10px;
	border-width: 0px;
}

.new-course .les-type .type-close i {
	margin-left: 5px;
}

.new-course .les-type .type {
	text-align: center;
	display: inline-block;
	width: 70px;
	color: #9fa6a7;
	background: #e2e7e7;
	cursor: pointer;
	margin: 0 14px 10px 14px;
}

.new-course .les-type .type i {
	font-size: 32px;
	display: block;
	margin: 10px 0;
}

.new-course .les-type .type span {
	display: block;
	line-height: 20px;
	font-size: 12px;
	background: #9fa6a7;
	color: #fff;
}

.new-course .lession > .doc-box {
	margin-right: 20px;
	margin-left: 20px;
}

.new-course .doc-box {
	border-top: solid 1px #d0d8d7;
	margin-top: 15px;
	padding: 16px 0;
    margin: 15px 0px 0 0px;
    clear: both;
}

.new-course .doc-box .les-box {
	margin: 15px 0 0 00;
}

.new-course .add-doc {
    border: solid 2px #fabe06;
    font-size: 14px;
    font-weight: bold;
    color: #fabe06;
    height: 34px;
    padding: 2px 12px 0 8px;
    border-radius: 5px;
    background: white;
}

.new-course .add-doc i {
    margin-right: 1px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
}

.new-course .preview .img {
	display: block;
	float: left;
	width: 105px;
}

.new-course .preview .img img {
	display: block;
	width: 100%;
}

.new-course .preview .info {
	margin-left: 120px;
}

.new-course .preview .name {
	font-weight: 500;
	font-size: 15px;
	color: #171717;
}

.new-course .preview p {
	font-size: 16px;
	color: rgba(23, 23, 23, 0.6);
	margin-bottom: 3px;
}

.new-course .preview .edit {
    color: #fabe06;
    font-size: 15px;
}

.new-course .preview .edit i {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}

.new-course .preview .i-accept {
	font-size: 16px;
	font-weight: 300;
	color: #171717;
	display: block;
	margin-bottom: 7px;
}

.new-course .preview .i-accept input {
	display: none;
}

.new-course .preview .i-accept input:checked + i {
	background: #00db7d;
}

.new-course .preview .i-accept input:checked + i:after {
	margin-left: 26px;
}

.new-course .preview .i-accept i {
	width: 54px;
	padding: 3px;
	border-radius: 40px;
	background: #d0d2d5;
	transition: all .2s ease-in-out;
	cursor: pointer;
	text-align: left;
	margin-left: 5px;
}

.new-course .preview .i-accept i:after {
	content: '';
	transition: inherit;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background: #fff;
	display: block;
}

.md-question .heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 0 12px 0;
	border-bottom: 1px solid #c6cfd0;
	letter-spacing: 0.05em;
}

.md-question .heading span {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
}

.md-question .btn-ques {
	font-size: 16px;
}

.md-question .btn-ques i {
	font-size: 32px;
	margin-right: 5px;
	font-weight: 500;
}

.md-question .btn-ques button {
	padding: 2px 10px;
	font-weight: bold;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
	border-radius: 5px;
	transition: 0.2s;
}

.md-question .btn-ques button:hover {
	box-shadow: 0 0px 9px 0 rgba(0, 0, 0, 0.4);
}

.md-question .btn-ques button.save {
	background-color: #fabe06;
	color: white;
}

.md-question .btn-ques button.cancel {
	background-color: #e2e7e7;
	color: rgba(23, 23, 23, 0.6);
}

.md-question .modal-body {
	padding: 0;
}

.md-question .modal-content {
	border-radius: 12px;
}

.md-question .form-question {
	padding: 20px 0 45px 0;
}

.md-question .form-item {
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.md-question .form-item .form-control {
	background-color: #e2e7e7;
	font-size: 16px;
	box-shadow: none;
	border: none;
	height: 50px;
	border-radius: 5px;
}

.md-question .form-item .form-control::placeholder {
	color: #888;
}

.md-question .form-item textarea {
	height: auto !important;
	padding-top: 15px;
}

.md-question .form-item .radio {
	margin-left: 10px;
}

.md-question .form-item .radio label {
	margin-bottom: 0;
}

.md-question .form-item .radio [type="radio"]:checked,
    .md-question .form-item .radio [type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

.md-question .form-item .radio [type="radio"]:checked + label,
    .md-question .form-item .radio [type="radio"]:not(:checked) + label {
	position: relative;
	padding-left: 18px;
	cursor: pointer;
	line-height: 16px;
	display: inline-block;
	color: #666;
}

.md-question .form-item .radio [type="radio"]:checked + label:before,
    .md-question .form-item .radio [type="radio"]:not(:checked) + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	border: 2px solid #fabe06;
	border-radius: 100%;
	background: #fff;
}

.md-question .form-item .radio [type="radio"]:checked + label:after,
    .md-question .form-item .radio [type="radio"]:not(:checked) + label:after {
	content: '';
	width: 10px;
	height: 10px;
	background: #fabe06;
	position: absolute;
	top: 5px;
	left: 5px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.md-question .form-item .radio [type="radio"]:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.md-question .form-item .radio [type="radio"]:not(:checked) + label:before {
	border: 1px solid #7d7d7f;
}

.md-question .form-item .radio [type="radio"]:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.md-question .nav-tabs {
	padding: 0 50px;
	border-bottom: none;
	margin-top: 20px;
}

.md-question .nav-tabs .nav-item .nav-link {
	border: none;
	border-radius: 0;
	font-weight: bold;
	padding: 5px 15px 2px 15px;
	font-size: 16px;
}

.md-question .nav-tabs .nav-item .nav-link.active {
	background-color: #fabe06;
	color: #fff;
}

@media all and (max-width: 1199px) {
	.crs-sidebar .sb-close {
		top: 11px;
	}
}

@media all and (max-width: 767px) {
	.md-question .heading {
		padding: 15px 15px 12px 15px;
		flex-direction: column;
	}

	.md-question .heading span {
		margin-bottom: 10px;
	}

	.md-question .form-question {
		padding: 15px;
	}

	.md-question .nav-tabs {
		padding: 0 15px;
		margin-top: 15px;
	}

	.file-form {
		padding-right: 130px;
	}

	.file-form .butn {
		font-size: 14px;
		width: 120px;
	}

	.new-course .option .ct {
		padding: 0;
	}

	.new-course .lession .les-head {
		padding-right: 12px;
		padding-left: 12px;
	}

	.new-course .lession .les-head .button {
		position: static;
		margin-top: 5px;
	}

	.new-course .fr-lession {
		padding-left: 60px;
		padding-right: 12px;
	}

	.new-course .fr-lession .num {
		left: 12px;
	}

	.new-course .les-type {
		margin: 0;
		padding-top: 30px;
	}

	.new-course .les-type .type-close {
		margin-bottom: -29px;
	}

	.new-course .lession > .doc-box {
		margin-right: 0px;
		margin-left: 0px;
	}

	.new-course .les-box {
		margin-right: 2px;
		margin-left: 0;
		padding-right: 12px;
		padding-left: 12px;
	}

	.new-course .preview .info {
		margin-left: 120px;
	}

	.new-course .preview p {
		font-size: 14px;
	}

	.new-course .preview .edit {
		font-size: 14px;
	}

	.new-course .preview .clearfix {
		margin-bottom: 10px;
	}

	.new-course .preview .i-accept {
		font-size: 15px;
		font-weight: normal;
	}

	.new-course .preview .i-accept span {
		width: 110px;
	}

	.like-form {
		padding-right: 0px;
	}
}

@media all and (max-width: 767px) {
	.course-head .ctrl {
		padding: 0 15px;
		margin-bottom: 5px;
		height: 40px;
		font-size: 14px;
		line-height: 40px;
	}
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

.smooth {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.row1 {
    margin-right: -10px;
    margin-left: -10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.new-course h3 {
    margin: 0;
}

.clearfix:after, .clearfix:before {
    content: '';
    display: block;
    clear: both;
}

.new-course .button i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}
